# TASK: Implement the SQLAlchemy for database operations In Python

### What is SQLAlchemy?

SQLAlchemy is an open-source SQL toolkit and object-relational mapper(ORM) for the Python.

SQLAlchemy is a library that facilitates the communication between Python programs and databases. Most of the times, this library is used as an Object Relational Mapper (ORM) tool that translates Python classes to tables on relational databases and automatically converts function calls to SQL statements.

### Installing and Importing

In [13]:
!pip install sqlalchemy
!pip install pymysql

Requirement already satisfied: sqlalchemy in c:\python39\lib\site-packages (1.2.19)

WARNING: You are using pip version 21.0.1; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\python39\python.exe -m pip install --upgrade pip' command.

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

WARNING: You are using pip version 21.0.1; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\python39\python.exe -m pip install --upgrade pip' command.

In [37]:
try:
    import sqlalchemy as db
    from sqlalchemy import create_engine
    #from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
    from sqlalchemy import *
    import pymysql
    print("all imported")
    
except:
    print("error in importing")

all imported

### Engine Configuration In SQLAlchemy

According to SQLAlchemy documentation: The Engine is the starting point for any SQLAlchemy application. It’s “home base” for the actual database and its DBAPI, delivered to the SQLAlchemy application through a connection pool and a Dialect, which describes how to talk to a specific kind of database/DBAPI combination.

The general structure can be illustrated as follows:

Where above, an Engine references both a Dialect and a Pool, which together interpret the DBAPI’s module functions as well as the behavior of the database.

Creating an engine is just a matter of issuing a single call, create_engine(). The API dialect of the database we are using is passed in create_engine.

#### For PostgreSQL

- Default:

engine = create_engine('postgresql://scott:tiger@localhost/mydatabase')

- Others:

engine = create_engine('postgresql+psycopg2://scott:tiger@localhost/mydatabase')

engine = create_engine('postgresql+pg8000://scott:tiger@localhost/mydatabase')

#### For MySQL

engine = create_engine('mysql://scott:tiger@localhost/foo')

Others: 
- mysqlclient 
- engine = create_engine('mysql+mysqldb://scott:tiger@localhost/foo')

- PyMySQL
- engine = create_engine('mysql+pymysql://scott:tiger@localhost/foo')

#### Similarly for other databases:
    
Oracle:

engine = create_engine('oracle://scott:tiger@127.0.0.1:1521/sidname')


Microsoft SQL Server

engine = create_engine('mssql+pymssql://scott:tiger@hostname:port/dbname')


SQLite

SQLite connects to file-based databases, using the Python built-in module sqlite3 by default.As SQLite connects to local files, the URL format is slightly different. The “file” portion of the URL is the filename of the database. For a relative file path, this requires three slashes.The three slashes are followed by the absolute path:

engine = create_engine('sqlite:///foo.db')

#### Let's get started and Connect to my Mysql database :

    format for mysql : create_engine('mysql+pymysql://<username>:<password>@<host>/<dbname>')
    
    dialect+driver : mysql+pymysql

In [41]:
engine = db.create_engine('mysql+pymysql://root:shelvi31@127.0.0.1/errors?host=localhost?port=3306')

connection = engine.connect()

print(engine.table_names())

['dummy', 'mpg']

### REFLECTION: reads database and builds SQLAlchemy Table Objects

SQLAlchemy can be used to automatically load tables from a database using something called reflection. Reflection is the process of reading the database and building the metadata based on that information.
    
Importing metadata and table needed for reflection. MetaData is a object is a catalogue that store db information such as table, such that we dont need to keep looking them up.

In [44]:
from sqlalchemy import MetaData,Table 
metadata = db.MetaData()

In [45]:
#Defining table object by giving name of table stores in db:
dummy = Table("dummy",metadata,autoload = True, autoload_with=engine)

In [125]:
#Using Function repr to view the details of the table that we stored as dummy:
print(repr(dummy));

Table('dummy', MetaData(bind=None), Column('seic', FLOAT(), table=<dummy>), Column('seic_benefit', VARCHAR(length=255), table=<dummy>), Column('health', VARCHAR(length=255), table=<dummy>), Column('health_benefit', VARCHAR(length=255), table=<dummy>), Column('house', VARCHAR(length=255), table=<dummy>), Column('house_benefit', VARCHAR(length=255), table=<dummy>), Column('nutrition', VARCHAR(length=255), table=<dummy>), Column('nutrition_benefit', VARCHAR(length=255), table=<dummy>), Column('livelihood', VARCHAR(length=255), table=<dummy>), Column('livelihood_benefit', VARCHAR(length=255), table=<dummy>), Column('education', VARCHAR(length=255), table=<dummy>), Column('education_benefit', VARCHAR(length=255), table=<dummy>), Column('scheme1', VARCHAR(length=255), table=<dummy>), Column('scheme1_benefit', VARCHAR(length=255), table=<dummy>), Column('scheme2', VARCHAR(length=255), table=<dummy>), Column('scheme2_benefit', VARCHAR(length=255), table=<dummy>), schema=None)

In [48]:
# Print only the column names
print(dummy.columns.keys())

['seic', 'seic_benefit', 'health', 'health_benefit', 'house', 'house_benefit', 'nutrition', 'nutrition_benefit', 'livelihood', 'livelihood_benefit', 'education', 'education_benefit', 'scheme1', 'scheme1_benefit', 'scheme2', 'scheme2_benefit']

Note that the Engine and its underlying Pool do not establish the first actual DBAPI connection until the Engine.connect() method is called, or an operation which is dependent on this method such as Engine.execute() is invoked.

### Querying

In [77]:
query = db.select([dummy]).where(dummy.columns.seic >= 20)
result = connection.execute(query)
result

In [78]:
resultset = result.fetchall()
resultset[0:4]

[(62.8, '86072', '89', '73165', '42', '71830', '34', '39751', '98', '46686', '51', '70891', '53', 'Eligible', '43', 'Eligible'),
 (66.0, '75920', '44', '8676', '71', '54466', '57', '45360', '97', '60792', '61', '78283', '52', 'Non-Eligible', '95', 'Non-Eligible'),
 (72.6, '22970', '95', '17161', '100', '51961', '69', '32700', '36', '87986', '63', '31900', '36', 'Eligible', '18', 'Non-Eligible'),
 (60.4, '8706', '81', '70125', '68', '26409', '54', '72371', '59', '98138', '40', '5130', '57', 'Eligible', '40', 'Eligible')]

In [75]:
type(resultset)

list

In [79]:
#Converting the result database to df:

import pandas as pd 

df = pd.DataFrame(resultset)
df.columns = resultset[0].keys()

In [81]:
df.head(10)

,seic,seic_benefit,health,health_benefit,house,house_benefit,nutrition,nutrition_benefit,livelihood,livelihood_benefit,education,education_benefit,scheme1,scheme1_benefit,scheme2,scheme2_benefit
0,62.8,86072,89,73165,42,71830,34,39751,98,46686,51,70891,53,Eligible,43,Eligible
1,66.0,75920,44,8676,71,54466,57,45360,97,60792,61,78283,52,Non-Eligible,95,Non-Eligible
2,72.6,22970,95,17161,100,51961,69,32700,36,87986,63,31900,36,Eligible,18,Non-Eligible
3,60.4,8706,81,70125,68,26409,54,72371,59,98138,40,5130,57,Eligible,40,Eligible
4,64.8,26059,67,54973,42,37282,55,45790,80,42652,80,6901,20,Eligible,32,Eligible
5,82.4,57793,99,20344,96,13030,98,23269,31,36140,88,14116,46,Non-Eligible,70,Non-Eligible
6,43.2,31095,27,58161,50,76071,70,71086,3,35889,66,53187,35,Eligible,53,Non-Eligible
7,49.4,29675,85,65590,63,28687,37,29761,10,91745,52,7841,61,Eligible,95,Eligible
8,67.2,86094,81,9080,99,13281,69,41552,32,12516,55,2516,27,Non-Eligible,61,Eligible
9,54.0,17186,30,57202,77,40868,39,12551,31,57180,93,41520,47,Eligible,57,Non-Eligible

### Executing more Queries

#### Using Where:

In [84]:
query = db.select([dummy.columns.seic,dummy.columns.seic_benefit]).where(dummy.columns.seic >= 70)
result = connection.execute(query)

resultset = result.fetchall()
resultset[:10]

[(72.6, '22970'),
 (82.4, '57793'),
 (70.6, '4155'),
 (77.6, '17099'),
 (71.6, '56683'),
 (75.0, '88898'),
 (75.2, '55759'),
 (74.4, '71014'),
 (73.8, '43923'),
 (70.2, '12956')]

#### Using In:

In [100]:
query = db.select([dummy.columns.seic,dummy.columns.seic_benefit]).where(dummy.columns.seic.in_([72.6,70,60]))

result = connection.execute(query)

resultset = result.fetchall()
resultset[:]

[(60.0, '89664'), (60.0, '17082'), (70.0, '76108'), (60.0, '27696')]

#### AND,OR,NOT

In [106]:
# SQL :
# SELECT * FROM dummy
# WHERE seic = 70 AND NOT scheme1_benefit = 'Eligible'

# SQLAlchemy :
query = db.select([dummy.columns.seic,dummy.columns.scheme1_benefit]).where(db.and_(dummy.columns.seic >= 80, dummy.columns.scheme1_benefit != 'Eligible'))
result = connection.execute(query)

resultset = result.fetchall()
resultset[:]

[(82.4, 'Non-Eligible'),
 (82.6, 'Non-Eligible'),
 (80.4, 'Non-Eligible'),
 (80.6, 'Non-Eligible'),
 (83.0, 'Non-Eligible'),
 (82.2, 'Non-Eligible')]

In [110]:
# SQL :
# SELECT * FROM dummy
# WHERE seic = 70 OR NOT scheme1_benefit = 'Eligible'

# SQLAlchemy :
query = db.select([dummy.columns.seic,dummy.columns.scheme1_benefit]).where(db.or_(dummy.columns.seic >= 80, dummy.columns.scheme1_benefit != 'Eligible'))
result = connection.execute(query)
resultset = result.fetchall()
resultset[:]

[(66.0, 'Non-Eligible'),
 (82.4, 'Non-Eligible'),
 (67.2, 'Non-Eligible'),
 (41.2, 'Non-Eligible'),
 (59.0, 'Non-Eligible'),
 (46.4, 'Non-Eligible'),
 (58.0, 'Non-Eligible'),
 (46.4, 'Non-Eligible'),
 (54.0, 'Non-Eligible'),
 (61.2, 'Non-Eligible'),
 (49.2, 'Non-Eligible'),
 (60.4, 'Non-Eligible'),
 (70.6, 'Non-Eligible'),
 (43.0, 'Non-Eligible'),
 (61.2, 'Non-Eligible'),
 (77.6, 'Non-Eligible'),
 (48.8, 'Non-Eligible'),
 (48.8, 'Non-Eligible'),
 (52.6, 'Non-Eligible'),
 (55.4, 'Non-Eligible'),
 (65.2, 'Non-Eligible'),
 (54.0, 'Non-Eligible'),
 (54.6, 'Non-Eligible'),
 (62.6, 'Non-Eligible'),
 (71.6, 'Non-Eligible'),
 (75.0, 'Non-Eligible'),
 (64.4, 'Non-Eligible'),
 (58.8, 'Non-Eligible'),
 (57.4, 'Non-Eligible'),
 (44.0, 'Non-Eligible'),
 (51.6, 'Non-Eligible'),
 (65.0, 'Non-Eligible'),
 (59.8, 'Non-Eligible'),
 (50.4, 'Non-Eligible'),
 (61.4, 'Non-Eligible'),
 (50.4, 'Non-Eligible'),
 (62.2, 'Non-Eligible'),
 (67.8, 'Non-Eligible'),
 (56.8, 'Non-Eligible'),
 (76.8, 'Non-Eligible'),
 (31.6, 'Non-Eligible'),
 (62.2, 'Non-Eligible'),
 (37.8, 'Non-Eligible'),
 (68.2, 'Non-Eligible'),
 (57.8, 'Non-Eligible'),
 (58.4, 'Non-Eligible'),
 (50.8, 'Non-Eligible'),
 (64.0, 'Non-Eligible'),
 (85.0, 'Eligible'),
 (64.2, 'Non-Eligible'),
 (63.0, 'Non-Eligible'),
 (53.0, 'Non-Eligible'),
 (47.2, 'Non-Eligible'),
 (72.4, 'Non-Eligible'),
 (65.4, 'Non-Eligible'),
 (46.0, 'Non-Eligible'),
 (66.2, 'Non-Eligible'),
 (67.0, 'Non-Eligible'),
 (57.6, 'Non-Eligible'),
 (57.4, 'Non-Eligible'),
 (73.8, 'Non-Eligible'),
 (58.6, 'Non-Eligible'),
 (67.4, 'Non-Eligible'),
 (65.8, 'Non-Eligible'),
 (78.4, 'Non-Eligible'),
 (70.6, 'Non-Eligible'),
 (56.0, 'Non-Eligible'),
 (73.4, 'Non-Eligible'),
 (85.6, 'Eligible'),
 (43.8, 'Non-Eligible'),
 (70.8, 'Non-Eligible'),
 (64.2, 'Non-Eligible'),
 (67.0, 'Non-Eligible'),
 (67.4, 'Non-Eligible'),
 (56.2, 'Non-Eligible'),
 (82.6, 'Non-Eligible'),
 (63.0, 'Non-Eligible'),
 (51.2, 'Non-Eligible'),
 (62.6, 'Non-Eligible'),
 (61.8, 'Non-Eligible'),
 (80.4, 'Non-Eligible'),
 (62.0, 'Non-Eligible'),
 (67.6, 'Non-Eligible'),
 (48.2, 'Non-Eligible'),
 (55.0, 'Non-Eligible'),
 (74.0, 'Non-Eligible'),
 (62.8, 'Non-Eligible'),
 (58.6, 'Non-Eligible'),
 (64.6, 'Non-Eligible'),
 (63.6, 'Non-Eligible'),
 (71.0, 'Non-Eligible'),
 (53.6, 'Non-Eligible'),
 (63.4, 'Non-Eligible'),
 (52.2, 'Non-Eligible'),
 (53.6, 'Non-Eligible'),
 (60.2, 'Non-Eligible'),
 (54.4, 'Non-Eligible'),
 (79.4, 'Non-Eligible'),
 (58.2, 'Non-Eligible'),
 (58.4, 'Non-Eligible'),
 (40.4, 'Non-Eligible'),
 (58.2, 'Non-Eligible'),
 (45.4, 'Non-Eligible'),
 (52.0, 'Non-Eligible'),
 (57.2, 'Non-Eligible'),
 (58.6, 'Non-Eligible'),
 (60.4, 'Non-Eligible'),
 (66.8, 'Non-Eligible'),
 (40.2, 'Non-Eligible'),
 (64.6, 'Non-Eligible'),
 (57.8, 'Non-Eligible'),
 (44.6, 'Non-Eligible'),
 (68.2, 'Non-Eligible'),
 (61.2, 'Non-Eligible'),
 (83.2, 'Eligible'),
 (64.4, 'Non-Eligible'),
 (57.0, 'Non-Eligible'),
 (54.0, 'Non-Eligible'),
 (55.0, 'Non-Eligible'),
 (67.6, 'Non-Eligible'),
 (78.4, 'Non-Eligible'),
 (68.2, 'Non-Eligible'),
 (60.2, 'Non-Eligible'),
 (54.8, 'Non-Eligible'),
 (45.4, 'Non-Eligible'),
 (54.8, 'Non-Eligible'),
 (77.2, 'Non-Eligible'),
 (59.2, 'Non-Eligible'),
 (56.4, 'Non-Eligible'),
 (70.8, 'Non-Eligible'),
 (71.4, 'Non-Eligible'),
 (74.6, 'Non-Eligible'),
 (54.0, 'Non-Eligible'),
 (76.8, 'Non-Eligible'),
 (57.4, 'Non-Eligible'),
 (66.6, 'Non-Eligible'),
 (53.0, 'Non-Eligible'),
 (76.0, 'Non-Eligible'),
 (52.0, 'Non-Eligible'),
 (76.4, 'Non-Eligible'),
 (65.8, 'Non-Eligible'),
 (44.4, 'Non-Eligible'),
 (54.0, 'Non-Eligible'),
 (49.2, 'Non-Eligible'),
 (55.2, 'Non-Eligible'),
 (59.0, 'Non-Eligible'),
 (45.6, 'Non-Eligible'),
 (54.6, 'Non-Eligible'),
 (80.6, 'Non-Eligible'),
 (76.4, 'Non-Eligible'),
 (50.2, 'Non-Eligible'),
 (74.2, 'Non-Eligible'),
 (64.0, 'Non-Eligible'),
 (51.2, 'Non-Eligible'),
 (56.4, 'Non-Eligible'),
 (53.4, 'Non-Eligible'),
 (56.8, 'Non-Eligible'),
 (46.2, 'Non-Eligible'),
 (74.0, 'Non-Eligible'),
 (48.6, 'Non-Eligible'),
 (61.2, 'Non-Eligible'),
 (42.2, 'Non-Eligible'),
 (58.6, 'Non-Eligible'),
 (53.6, 'Non-Eligible'),
 (72.2, 'Non-Eligible'),
 (55.6, 'Non-Eligible'),
 (50.8, 'Non-Eligible'),
 (72.8, 'Non-Eligible'),
 (80.6, 'Eligible'),
 (76.2, 'Non-Eligible'),
 (62.6, 'Non-Eligible'),
 (54.4, 'Non-Eligible'),
 (61.6, 'Non-Eligible'),
 (75.0, 'Non-Eligible'),
 (67.4, 'Non-Eligible'),
 (60.6, 'Non-Eligible'),
 (71.4, 'Non-Eligible'),
 (49.6, 'Non-Eligible'),
 (71.4, 'Non-Eligible'),
 (44.4, 'Non-Eligible'),
 (48.0, 'Non-Eligible'),
 (62.4, 'Non-Eligible'),
 (58.6, 'Non-Eligible'),
 (57.2, 'Non-Eligible'),
 (55.4, 'Non-Eligible'),
 (60.2, 'Non-Eligible'),
 (83.0, 'Non-Eligible'),
 (65.0, 'Non-Eligible'),
 (50.4, 'Non-Eligible'),
 (54.2, 'Non-Eligible'),
 (49.4, 'Non-Eligible'),
 (66.0, 'Non-Eligible'),
 (61.6, 'Non-Eligible'),
 (51.0, 'Non-Eligible'),
 (79.2, 'Non-Eligible'),
 (77.6, 'Non-Eligible'),
 (43.8, 'Non-Eligible'),
 (41.0, 'Non-Eligible'),
 (70.6, 'Non-Eligible'),
 (39.8, 'Non-Eligible'),
 (46.2, 'Non-Eligible'),
 (52.2, 'Non-Eligible'),
 (46.8, 'Non-Eligible'),
 (68.6, 'Non-Eligible'),
 (61.2, 'Non-Eligible'),
 (82.2, 'Non-Eligible'),
 (66.2, 'Non-Eligible'),
 (50.6, 'Non-Eligible'),
 (58.0, 'Non-Eligible'),
 (79.0, 'Non-Eligible'),
 (52.4, 'Non-Eligible'),
 (53.2, 'Non-Eligible'),
 (43.8, 'Non-Eligible'),
 (39.6, 'Non-Eligible'),
 (62.0, 'Non-Eligible'),
 (61.0, 'Non-Eligible'),
 (43.8, 'Non-Eligible'),
 (60.4, 'Non-Eligible'),
 (65.6, 'Non-Eligible'),
 (55.6, 'Non-Eligible'),
 (46.8, 'Non-Eligible'),
 (23.8, 'Non-Eligible'),
 (62.4, 'Non-Eligible'),
 (60.8, 'Non-Eligible'),
 (52.6, 'Non-Eligible'),
 (47.2, 'Non-Eligible'),
 (57.2, 'Non-Eligible'),
 (41.2, 'Non-Eligible'),
 (67.2, 'Non-Eligible'),
 (66.0, 'Non-Eligible'),
 (58.6, 'Non-Eligible'),
 (58.0, 'Non-Eligible'),
 (68.6, 'Non-Eligible'),
 (50.4, 'Non-Eligible'),
 (70.0, 'Non-Eligible'),
 (58.2, 'Non-Eligible'),
 (52.4, 'Non-Eligible'),
 (60.0, 'Non-Eligible'),
 (78.8, 'Non-Eligible'),
 (66.6, 'Non-Eligible'),
 (49.4, 'Non-Eligible'),
 (54.2, 'Non-Eligible'),
 (55.0, 'Non-Eligible'),
 (58.6, 'Non-Eligible'),
 (60.2, 'Non-Eligible'),
 (75.2, 'Non-Eligible'),
 (61.8, 'Non-Eligible'),
 (66.2, 'Non-Eligible'),
 (62.4, 'Non-Eligible'),
 (74.6, 'Non-Eligible'),
 (61.2, 'Non-Eligible'),
 (55.4, 'Non-Eligible'),
 (45.2, 'Non-Eligible'),
 (63.2, 'Non-Eligible'),
 (80.2, 'Eligible'),
 (46.4, 'Non-Eligible'),
 (52.4, 'Non-Eligible'),
 (58.0, 'Non-Eligible'),
 (66.4, 'Non-Eligible'),
 (61.2, 'Non-Eligible'),
 (47.0, 'Non-Eligible'),
 (65.4, 'Non-Eligible'),
 (67.4, 'Non-Eligible'),
 (59.8, 'Non-Eligible'),
 (47.4, 'Non-Eligible'),
 (58.4, 'Non-Eligible'),
 (48.6, 'Non-Eligible'),
 (56.4, 'Non-Eligible'),
 (48.6, 'Non-Eligible')]

#### ORDER BY:

In [117]:
# SQL :
# SELECT * FROM dummy
# ORDER BY seic DESC, seic_benefit DESC

# SQLAlchemy :
query = db.select([dummy]).where(dummy.columns.seic==60).order_by(db.desc(dummy.columns.seic), dummy.columns.seic_benefit)

result = connection.execute(query)
resultset = result.fetchall()
resultset[:10]

[(60.0, '17082', '75', '56201', '65', '13270', '64', '47319', '32', '47017', '64', '11595', '97', 'Eligible', '30', 'Eligible'),
 (60.0, '27696', '36', '31226', '74', '69153', '64', '24867', '58', '75547', '68', '15907', '30', 'Non-Eligible', '59', 'Eligible'),
 (60.0, '89664', '71', '19914', '42', '42190', '50', '37211', '73', '65554', '64', '60856', '22', 'Eligible', '68', 'Eligible')]

#### FUNCTIONS:

In [124]:
# SQL :
# SELECT COUNT(seic)
# FROM dummy
# WHERE seic==70


# SQLAlchemy :
query = db.select([db.func.count(dummy.columns.seic)]).where(dummy.columns.seic==60)
result = connection.execute(query)
resultset = result.fetchall()
resultset[:10]

[(3,)]

other functions include avg, sum, min, max…

#### GROUP BY:

In [131]:
# SQL :
# SELECT SUM(seic) as SEIC
# FROM dummy
# GROPU BY scheme1_benefit

# SQLAlchemy :
query= db.select([db.func.sum(dummy.columns.seic).label('SEIC')]).group_by(dummy.columns.scheme1_benefit)
result = connection.execute(query)
resultset = result.fetchall()
resultset[:5]

[(13828.999965667725,), (15699.400007247925,)]

#### DISTINCT

In [137]:
# SQL :
# SELECT DISTINCT seic
# FROM dummy


# SQLAlchemy :
query = db.select([db.func.count(dummy.columns.seic.distinct())])
result = connection.execute(query)
resultset = result.fetchall()
resultset[:5]

[(197,)]

### References:

1. https://towardsdatascience.com/sqlalchemy-python-tutorial-79a577141a91
2. https://docs.sqlalchemy.org/en/14/core/engines.html